# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:  

1. Python  
2. R  
3. Julia  
4. SQL  
5. Scala

Some of the commonly used libraries used by Data Scientists include:  

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow  
6. PyTorch

Some of the commonly used Data Science tools include:  

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**  

- List popular languages for Data Science  
- Identify common used Data Science libraries  
- Explore Data Science tools  
- Perform arithmetic expressions  
- Convert time units

## Author  
Ravi Pandey